################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FirstCoreApp/.vs/FirstCoreApp
/FirstCoreApp/FirstCoreApp/bin/Debug/netcoreapp3.1
/FirstCoreApp/FirstCoreApp/obj
